html,
body {
  margin: 0;
}

img {
  max-width: 100%;
  width: 200px;
}

.appBar {
  padding: 15px 25px;
  background-color: royalblue;
  color: #efefef;
}

.container {
  padding: 20px;
}

.btn {
  margin: 10px 0;
}

.simpleTable {
  border-collapse: collapse;
}

.simpleTable td {
  padding: 6px 10px;
  border: 1px solid #333333;
}
